<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ if eq .Section "blog"}}
      {{ partial "head.html" . }}
      {{ partial "header.html" . }}
      {{ else }}
  {{ end }}


  <body>
    <!-- {{ partial "body-top" . }} -->
    <main>
      <section class="container">
          <section class="content">
              <h1>{{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}</h1>

            {{ if eq .Section "blog"}}
              <div class="sub-header">
                  {{ .Date.Format (.Site.Params.dateform | default "January 2, 2006") }} · {{ .ReadingTime }} minute read
              </div>
              <article class="entry-content blog-single">
                  {{ .Content }}
              </article>
               {{ else }}
               <article class="entry-content work">
                   {{ .Content }}
               </article>
            {{ end }}

            {{ if eq .Section "blog"}}
              <div class="pagination">
                  {{ if .PrevInSection }}
                      <h4><a href="{{ .PrevInSection.Permalink }}">&laquo; {{ .PrevInSection.Title }}</a></h4>
                  {{ end }}
                  {{ if .NextInSection }}
                      <h4><a href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }} &raquo;</a></h4>
                  {{ end }}
              </div>
            {{ end }}
          </section>
          <br>

      </section>
      {{ partial "footer.html" . }}
    </main>
  </body>
</html>
