{{ if .Site.Params.googleTagManager }}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ .Site.Params.googleTagManager }}"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
{{ end }}

<!-- {{ if .IsHome }}
<header id="header">
    <nav>
        {{ with .Site.Params.about.title }}<a href="/#about-me">{{ . }}</a>{{ end }}
        {{ with .Site.Data.work.title }}<a href="/#work">{{ . }}</a>{{ end }}
        {{ with .Site.Data.clients.title }}<a href="/#clients">{{ . }}</a>{{ end }}
        {{ with .Site.Params.contact.title }}<a href="/#contact">{{ . }}</a>{{ end }}
        {{ with .Site.Params.blog.title }}<a href="/#blog">{{ . }}</a>{{ end }}
    </nav>
    {{ with .Site.Params.header.title }}<h1><span>{{ . }}</span></h1>{{ end }}
    {{ with .Site.Params.header.shortBio }}<p class="kicker">{{ . }}</p>{{ end }}
</header>

{{ end }} -->
