{{ "<!-- Contact section -->" | safeHTML }}
<section class="alt-section section-contact">
    {{ with .Site.Params.contact.title }}<h3 id="contact">{{ . }}</h3>{{ end }}
    <div class="social-links">
        {{ range .Site.Params.contact.social }}
        <a href="{{ .link }}" class="icon-{{ .icon }}" target="_blank" aria-label="{{ .icon }}"></a>
        {{ end }}
    </div>
    <hr class="bar">
    <a class="biglink" href="#form-title">{{ .Site.Params.email }}</a>

    <div class="resume">
        <h3><a href="krista_simmons_cv.pdf" target="_blank">
                View & Download My Latest Resume
        </a></h3>
        <!-- <object data="../krista_simmons_cv.pdf" type="application/pdf" width="400px" height="400px">
            <embed src="../krista_simmons_cv.pdf" type="application/pdf">
                <p>This browser does not support PDFs. Please download the PDF to view it: <a href="krista_simmons_cv.pdf">Download PDF</a>.</p>
            </embed>
        </object> -->
    </div>

</section>
