{{ "<!-- Form section -->" | safeHTML }}
<section>
    {{ with .Site.Params.form.title }}<h3 id="form-title">{{ . }}</h3>{{ end }}
    <form method="POST" action="//formspree.io/{{ with .Site.Params.email }}{{ . }}{{ end }}">
        <fieldset class="contact-info-group">
            {{ with .Site.Params.form.name }}<label for="name">{{ end }}
                <input id="name" type="text" name="name" placeholder="Your Name">
            </label>
            {{ with .Site.Params.form.email }}<label for="email">{{ end }}
                <input id="email" type="email" name="_replyto" placeholder="Your Email">
            </label>
        </fieldset>
        {{ with .Site.Params.form.message }}<label for="message">{{ end }}
            <textarea id="message" name="message" placeholder="Tell me about your project"></textarea>
        </label>
        <fieldset class="submit-wrap">
            <input type="submit" value="{{ with .Site.Params.form.buttonText }}{{ . }}{{ end }}">
        </fieldset>
    </form>
</section>
