<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
	<head>
		{{ partial "head.html" . }}
	</head>
		{{ partial "body-top" . }}
	<body>

		{{ partial "header.html"  . }}
		{{ partial "about.html"   . }}
		{{ partial "work.html"    . }}
		{{ partial "clients.html" . }}
		{{ partial "contact.html" . }}
		{{ partial "form.html"    . }}
		{{ partial "blog.html" 	  . }}
		{{ partial "footer.html"  . }}
	</body>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ .Site.BaseURL }}/js/functions.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>
